.comment {
  display: flex;
}

.comment__avatar {
  height: var(--s-600);
  width: var(--s-600);
}

.comment__right {
  display: flex;
  flex-direction: column;
  row-gap: var(--s-200);
}

.commentHeader {
  display: flex;
  align-items: center;
  column-gap: var(--s-400);
}

.commentHeader__postedBy {
  font-size: var(--fs-300);
  font-weight: var(--fw-semi-bold);
  color: var(--c-primary-700);
}

.commentHeader__createdAt {
  font-size: var(--fs-200);
  color: var(--c-neutral-500);
}

.comment__text {
  font-size: var(--fs-200);
  line-height: 1rem;
}

.comment__likes {
  display: flex;
  align-items: center;
  align-self: flex-start;
  color: var(--c-neutral-500);
}

.comment__likes:hover:not(.comment--own__likes) {
  color: var(--c-black);
  cursor: pointer;
}

.comment__likes--liked {
  color: var(--c-primary-900);
}

.comment__likesTotal {
  font-size: var(--fs-300);
  user-select: none;
}

.comment__likesIcon {
  margin-right: var(--s-300);
  font-size: var(--fs-300);
}

@media screen and (min-width: 810px) {
  .comment__right {
    row-gap: var(--s-400);
  }

  .commentHeader__postedBy {
    font-size: var(--fs-400);
  }

  .commentHeader__createdAt {
    font-size: var(--fs-300);
  }

  .comment__text {
    font-size: var(--fs-400);
  }
}
