.adsCarousel {
  display: flex;
  height: var(--s-700);
  border: var(--s-100) solid var(--c-black);
  border-radius: var(--br-300);
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  overflow: hidden;
}

.adsCarousel--profile {
  grid-column: 1/-1;
  margin-bottom: var(--s-400);
}

.adsCarousel__slide {
  min-width: 100%;
  transition: transform 500ms ease-in-out;
}

/* min-height check ensures a thin carousel style with mobiles in landscape */
@media screen and (min-width: 810px) and (min-height: 640px) {
  .adsCarousel {
    height: var(--s-900);
  }
}
