.ads--misty {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--s-400);
  border: var(--s-100) solid var(--c-black);
  border-radius: var(--br-300);
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  background-image: url('../../../../public/images/ads/misty-mountain-ascents.jpg');
  background-color: rgba(0,0,0,.5);
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  color: var(--c-white);
}

.ads--misty__brandName {
  text-align: center;
  font-family: 'Playfair Display SC', serif;
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  letter-spacing: var(--s-100);
  animation: 3s linear infinite alternate fade-in;
}

.ads--misty__tagline {
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  letter-spacing: var(--s-100);
}

/* Don't show ad on mobiles in landscape */
@media screen and (min-height: 640px) {
  .ads--misty {
    display: flex;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }
}
