.globalHeader {
  position: sticky;
  top: 0;
  z-index: 300;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  /* height: 64px; */
  /* padding: 0 var(--s-500); */
  box-shadow: 0 2px 6px 1px rgba(0,0,0,.4);
  /* border-bottom: var(--s-100) solid var(--c-black); */
  background-image: url('../../../public/images/micro-carbon.png'), linear-gradient(to right, var(--c-neutral-700), var(--c-black));
  color: var(--c-white);
}

.globalHeader__innerWrapper {
  display: flex;
  align-items: center;
  height: 64px;
  max-width: 1200px;
  padding: 0 var(--s-500);
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: var(--s-400);
  margin-right: auto;
  text-decoration: none;
  color: var(--c-white);
}

.logo__icon {
  font-size: var(--fs-700);
}

.logo__name {
  font-family: 'Patrick Hand', cursive;
  font-size: var(--fs-800);
  letter-spacing: var(--s-100);
  user-select: none;
}

.globalHeader__desktopOptions {
  display: flex;
  align-items: center;
  column-gap: var(--s-500);
}

/* .globalHeader__separator {
  align-self: stretch;
  width: var(--s-200);
  height: 100%;
  background-color: var(--c-white);
} */

.globalHeader__drawerToggle {
  min-height: 40px;
  padding: var(--s-400) var(--s-500);
  border: var(--s-100) solid var(--c-primary-700);
  border-radius: var(--br-300);
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  text-shadow: 2px 2px 4px rgba(0,0,0,.2);
  font-weight: var(--fw-bold);
  letter-spacing: var(--s-100);
  background: linear-gradient(var(--c-primary-300), var(--c-primary-700));
  color: var(--c-white);
  cursor: pointer;
  outline: none;
}

.globalHeader__drawerToggle:active {
  background: var(--c-primary-700);
}

@media (hover: hover) {
  .globalHeader__drawerToggle:hover {
    background: var(--c-primary-700);
  }
}

.globalNav__list {
  display: flex;
  column-gap: var(--s-500);
}

.globalNav__item {
  cursor: pointer;
}

.globalNav__item:active .globalNav__icon {
  color: var(--c-primary-700);
}

@media (hover: hover) {
  .globalNav__item:hover .globalNav__icon {
    color: var(--c-primary-700);
  }
}

.globalNav__icon {
  font-size: var(--fs-700);
  color: var(--c-white);
  transition: color .175s ease-in-out;
}

.globalNav__notificationAlert {
  position: relative;
}

.globalNav__notificationCount {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 22px;
  border: var(--s-100) solid var(--c-accent-700);
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  background: linear-gradient(var(--c-accent-300), var(--c-accent-700));
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  transform: translate(8px, -10px);
}

@media screen and (min-width: 810px) {
  .globalHeader__innerWrapper {
    height: 72px;
    padding: 0 var(--s-600);
  }

  .logo__icon {
    font-size: var(--fs-800);
  }

  .logo__name {
    font-size: var(--fs-900);
  }

  .globalHeader__drawerToggle {
    min-height: 45px;
    font-size: var(--fs-400);
  }

  .globalNav__icon {
    font-size: var(--fs-800);
  }
}

@media screen and (min-width: 1300px) {
  .globalHeader__innerWrapper {
    height: 82px;
    padding: 0;
  }

  .logo {
    column-gap: var(--s-500);
  }

  .logo__icon {
    font-size: var(--fs-900);
  }

  .logo__name {
    font-size: 50px;
  }

  .globalNav__icon {
    font-size: var(--fs-900);
  }
}
