.friendsListPreviewsSkeleton {
  padding: var(--s-500);
  border: var(--s-100) solid var(--c-black);
  border-radius: var(--br-300);
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  background-color: var(--c-white);
}

.friendsListPreviewsSkeleton__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--s-500);
}

.friendsListPreviewsSkeleton__title {
  flex: .4;
}

.friendsListPreviewsSkeleton__viewAll {
  flex: .2;
}

.friendsListPreviewsSkeleton__preview {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--s-700), 1fr));
  grid-template-rows: auto;
  grid-auto-rows: 0;
  overflow-y: hidden;
  column-gap: var(--s-400);
}

@media screen and (min-width: 810px) and (min-height: 765px) {
  .friendsListPreviewsSkeleton__preview {
    grid-auto-rows: auto;
    overflow-y: auto;
    grid-gap: var(--s-400);
  }  
}
