.friendsListPreviewsSkeleton {
  grid-column: 1 / -1;
  margin-bottom: var(--s-400);
  padding: var(--s-500);
  border: var(--s-100) solid var(--c-black);
  border-radius: var(--br-300);
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  background-color: var(--c-white);
}

.friendsListPreviewsSkeleton__header {
  display: flex;
  justify-content: space-between;
}

.friendsListPreviewsSkeleton__title {
  flex: .4;
}

.friendsListPreviewsSkeleton__viewAll {
  flex: .2;
}

.friendsListPreviewsSkeleton__previews {
  display: flex;
  gap: var(--s-400);
}

.friendsListPreviewsSkeleton__preview {
  flex: .25;
}
