.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(0,0,0,0);
  transition: background-color .3s ease-in-out;
  pointer-events: none;
}

.backdrop--visible {
  background-color: rgba(0,0,0,0.8);
  pointer-events: auto;
}
