.backgroundUploadModal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  padding: var(--s-500);
  z-index: 200;
  transform: translate(-50%, -50%) scale(0);
  border-radius: var(--br-300);
  transition: transform .3s ease-in-out;
  background-color: var(--c-primary-900);
  color: var(--c-white);
}

.backgroundUploadModal--open {
  transform: translate(-50%, -50%) scale(1);
}

.backgroundUploadModal__form {
  display: flex;
  flex-direction: column;
  row-gap: var(--s-600);
}

.backgroundUploadModal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backgroundUploadModal__title {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

.backgroundUploadModal__exit {
  font-size: var(--fs-700);
  color: var(--c-white);
  cursor: pointer;
}

.backgroundUploadModal__exit:active {
  color: var(--c-primary-700);
}

@media (hover: hover) {
  .backgroundUploadModal__exit:hover {
    color: var(--c-primary-700);
  }
}

.backgroundUploadModal__thumbnail {
  display: block;
  height: var(--s-800);
  width: 100%;
  margin-bottom: var(--s-200);
  border: var(--s-300) solid var(--c-white);
  border-radius: var(--br-300);
  object-fit: cover;
  background-color: var(--c-white);
}

.backgroundUploadModal__thumbnail--error {
  border-color: var(--c-error);
}

.backgroundUploadModal__feedbackError {
  font-size: var(--fs-300);
}

.backgroundUploadModal__skeleton {
  display: block;
  line-height: 1;
}

.backgroundUploadModal__input {
  display: none;
}

.backgroundUploadModal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--s-400);
  min-height: 40px;
  width: 100%;
  padding: var(--s-400) var(--s-500);
  border-radius: var(--br-300);
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  text-shadow: 2px 2px 4px rgba(0,0,0,.2);
  font-weight: var(--fw-bold);
  letter-spacing: var(--s-100);
  color: var(--c-white);
  cursor: pointer;
  outline: none;
}

.backgroundUploadModal__upload {
  margin-bottom: var(--s-400);
  border: var(--s-100) solid var(--c-accent-700);
  background: linear-gradient(var(--c-accent-300), var(--c-accent-700));
}

.backgroundUploadModal__upload:active {
  background: var(--c-accent-700);
}

@media (hover: hover) {
  .backgroundUploadModal__upload:hover {
    background: var(--c-accent-700);
  }
}

.backgroundUploadModal__confirm {
  border: var(--s-100) solid var(--c-primary-700); 
  background: linear-gradient(var(--c-primary-300), var(--c-primary-700));
}

.backgroundUploadModal__confirm:active {
  background: var(--c-primary-700);
}

@media (hover: hover) {
  .backgroundUploadModal__confirm:hover {
    background: var(--c-primary-700);
  }
}

.backgroundUploadModal__uploadIcon,
.backgroundUploadModal__confirmIcon {
  font-size: var(--fs-400);
}
