.backgroundUploadModal,
.avatarUploadModal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  z-index: 500;
  transform: translate(-50%, -50%) scale(0);
  border-radius: var(--br-300);
  transition: transform .3s ease-in-out;
  background-color: var(--c-primary-900);
  background-image: url('../../../public/images/french-stucco.png');
  color: var(--c-white);
}

.backgroundUploadModal--open,
.avatarUploadModal--open {
  transform: translate(-50%, -50%) scale(1);
}

.backgroundUploadModal__form,
.avatarUploadModal__form {
  display: flex;
  flex-direction: column;
  row-gap: var(--s-600);
}

.backgroundUploadModal__header,
.avatarUploadModal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--s-500);
  border-bottom: var(--s-100) solid var(--c-white);
  border-top-left-radius: var(--br-300);
  border-top-right-radius: var(--br-300);
  background-color: var(--c-accent-700);
}

.backgroundUploadModal__title,
.avatarUploadModal__title {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

.backgroundUploadModal__exit,
.avatarUploadModal__exit {
  font-size: var(--fs-700);
  color: var(--c-white);
  cursor: pointer;
}

.backgroundUploadModal__exit:active,
.avatarUploadModal__exit:active {
  color: var(--c-primary-900);
}

@media (hover: hover) {
  .backgroundUploadModal__exit:hover,
  .avatarUploadModal__exit:hover {
    color: var(--c-primary-900);
  }
}

.backgroundUploadModal__thumbnailWrapper,
.avatarUploadModal__thumbnailWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--s-300);
  padding: 0 var(--s-500);
}

.backgroundUploadModal__thumbnail,
.avatarUploadModal__thumbnail {
  display: block;
  height: var(--s-800);
  width: 100%;
  border: var(--s-300) solid var(--c-white);
  border-radius: var(--br-300);
  object-fit: cover;
  background-color: var(--c-white);
}

.avatarUploadModal__thumbnail {
  width: var(--s-800);
  border-radius: 50%;
}

.backgroundUploadModal__thumbnail--error,
.avatarUploadModal__thumbnail--error {
  border-color: var(--c-error);
}

.backgroundUploadModal__feedbackError,
.avatarUploadModal__feedbackError {
  font-size: var(--fs-300);
}

.backgroundUploadModal__skeleton,
.avatarUploadModal__skeleton {
  display: block;
  line-height: 1;
}

.backgroundUploadModal__input,
.avatarUploadModal__input {
  display: none;
}

.backgroundUploadModal__buttons,
.avatarUploadModal__buttons {
  padding: var(--s-500);
  padding-top: 0;
}

.backgroundUploadModal__button,
.avatarUploadModal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--s-400);
  min-height: 40px;
  width: 100%;
  padding: var(--s-400) var(--s-500);
  border-radius: var(--br-300);
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  text-shadow: 2px 2px 4px rgba(0,0,0,.2);
  font-weight: var(--fw-bold);
  letter-spacing: var(--s-100);
  color: var(--c-white);
  cursor: pointer;
  outline: none;
}

.backgroundUploadModal__upload,
.avatarUploadModal__upload {
  margin-bottom: var(--s-400);
  border: var(--s-100) solid var(--c-accent-700);
  background: linear-gradient(var(--c-accent-300), var(--c-accent-700));
}

.backgroundUploadModal__upload:active,
.avatarUploadModal__upload:active {
  background: var(--c-accent-700);
}

@media (hover: hover) {
  .backgroundUploadModal__upload:hover,
  .avatarUploadModal__upload:hover {
    background: var(--c-accent-700);
  }
}

.backgroundUploadModal__confirm,
.avatarUploadModal__confirm {
  border: var(--s-100) solid var(--c-primary-700); 
  background: linear-gradient(var(--c-primary-300), var(--c-primary-700));
}

.backgroundUploadModal__confirm:active,
.avatarUploadModal__confirm:active {
  background: var(--c-primary-700);
}

@media (hover: hover) {
  .backgroundUploadModal__confirm:hover,
  .avatarUploadModal__confirm:hover {
    background: var(--c-primary-700);
  }
}

.backgroundUploadModal__uploadIcon,
.avatarUploadModal__uploadIcon
.backgroundUploadModal__confirmIcon,
.avatarUploadModal__cofirmIcon {
  font-size: var(--fs-400);
}
