.profile {
  display: grid;
  grid-template-columns: repeat(4, minmax(60px, 100px));
  align-content: start;
  padding: 0 var(--s-600) var(--s-500);
  background-color: var(--c-primary-900);
  background-image: url('../../../public/images/french-stucco.png');
}

.profile__error {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  row-gap: var(--s-300);
  margin-top: var(--s-500);
}

.profile__errorIcon {
  font-size: var(--fs-600);
  color: var(--c-white);
}

.profile__errorMessage {
  text-align: center;
  font-weight: var(--fw-semi-bold);
  color: var(--c-white);
}
