.profileDescriptionSkeleton {
  display: flex;
  flex-direction: column;
  row-gap: var(--s-500);
  padding: var(--s-500);
  border: var(--s-100) solid var(--c-black);
  border-radius: var(--br-300);
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  background-color: var(--c-white);
}

.profileDescriptionSkeleton__bio {
  width: 90%;
}

.profileDescriptionSkeleton__bio,
.profileDescriptionSkeleton__info,
.profileDescriptionSkeleton__relationshipMsg {
  display: block;
  margin: 0 auto;
  line-height: 1;
}

.profileDescriptionSkeleton__info {
  display: flex;
  flex-direction: column;
  row-gap: var(--s-300);
  width: 70%;
}

.profileDescriptionSkeleton__relationshipMsg {
  width: 50%;
}
