.ad--mcdougalls {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: url('../../../../public/images/ads/mcdougalls-matchmaking.jpg');
  background-color: rgba(0,0,0,.7);
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  font-family: 'Open Sans', sans-serif;
  color: var(--c-white);
}

.ad--mcdougalls__brandName {
  text-align: center;
  font-family: 'Freehand', cursive;
  font-size: var(--fs-700);
}

.ad--mcdougalls__tagline {
  display: none;
  font-family: inherit;
  font-size: var(--fs-300);
  letter-spacing: var(--s-100);
}

.ad--mcdougalls__button {
  display: none;
  padding: var(--s-400) var(--s-500);
  border: none;
  border-radius: var(--br-200);
  background: linear-gradient(var(--c-accent-700), var(--c-accent-900));
  font-family: inherit;
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  letter-spacing: var(--s-100);
  color: var(--c-white);
  cursor: pointer;
  outline: none;
}

.ad--mcdougalls__button:hover {
  background: var(--c-accent-900);
}

.ad--mcdougalls__smallprint {
  display: none;
  text-align: center;
  font-size: var(--fs-100);
  letter-spacing: var(--s-100);
  line-height: 1rem;
}

/* min-height check ensures a thin carousel style with mobiles in landscape */
@media screen and (min-width: 810px) and (min-height: 640px) {
  .ad--mcdougalls {
    flex-direction: column;
    row-gap: var(--s-500);
    padding: var(--s-500);
  }

  .ad--mcdougalls__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--s-400);
  }

  .ad--mcdougalls__brandName {
    font-size: var(--fs-900);
    line-height: 2.5rem;
  }

  .ad--mcdougalls__tagline,
  .ad--mcdougalls__button,
  .ad--mcdougalls__smallprint {
    display: block;
  }
}

/* 
  When mobile layout becomes a 2 column layout on
  tablet there is less width available for text
*/
@media screen and (min-width: 810px) and (max-height: 639px) {
  .ad--mcdougalls__brandName {
    font-size: var(--fs-600);
  }
}
