.privateProfile {
  display: grid;
  grid-template-columns: repeat(4, minmax(60px, 100px));
  grid-template-rows: auto 1fr;
  justify-content: center;
  padding: 0 var(--s-600) var(--s-500);
  background-color: var(--c-primary-900);
  background-image: url('../../../../public/images/french-stucco.png');
}

.privateProfile__header {
  position: relative;
  grid-column: 1 / -1;
  align-self: start;
  margin-left: calc(-1 * var(--s-600)); /* Calculate negative version of variable */
  margin-right: calc(-1 * var(--s-600));
  border-bottom: var(--s-300) solid var(--c-white);
}

.privateProfile__name {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  column-gap: var(--s-300);
  padding: var(--s-400);
  border-top-left-radius: var(--br-300);
  background-color: rgba(0,0,0,.7);
  font-size: var(--fs-500);
  font-weight: var(--fw-semi-bold);
  letter-spacing: var(--s-100);
  color: var(--c-white);
}

.privateProfile__relationshipStatusIcon {
  font-size: var(--fs-300);
  color: var(--c-accent-500);
}

.privateProfile__avatar {
  position: absolute;
  bottom: 0;
  left: var(--s-500);
  height: var(--s-800);
  width: var(--s-800);
  border: var(--s-300) solid var(--c-white);
  border-radius: 50%;
  transform: translateY(50%);
  background-color: var(--c-primary-100);
  object-fit: cover;
}

.privateProfile__backgroundImage {
  display: block;
  height: var(--s-800);
  width: 100%;
  object-fit: cover;
  background-color: var(--c-primary-100);
}

.privateProfile__main {
  position: relative;
  align-self: center;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--s-500);
  padding: var(--s-500);
  border: var(--s-100) solid var(--c-black);
  border-radius: var(--br-300);
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  overflow: hidden;
  background-color: var(--c-white);
  background-image: url('../../../../public/images/otis-redding.png');
}

.privateProfile__lockIcon {
  margin-bottom: var(--s-400);
  font-size: var(--fs-900);
  color: var(--c-neutral-500);
}

.privateProfile__message {
  margin-bottom: var(--s-500);
  font-size: var(--fs-500);
}

.privateProfile__relationshipMsg {
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
}

.privateProfile__banner {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-30%) rotate(-45deg);
  transform-origin: top right;
  padding: var(--s-300) 0;
  background: var(--c-accent-700);
  font-weight: var(--fw-bold);
  color: var(--c-white);
  outline: var(--c-accent-700) solid var(--s-700);
  clip-path: inset(0 -200px);
}

@media screen and (min-width: 464px) {
  .privateProfile__header {
    border: var(--s-300) solid var(--c-white);
    border-top: none;
    border-bottom-left-radius: var(--br-300);
    border-bottom-right-radius: var(--br-300);
  }
}

@media screen and (min-width: 810px) {
  .privateProfile {
    grid-template-columns: repeat(8, minmax(70px, 90px));
    column-gap: var(--s-500);
    padding-left: var(--s-700);
    padding-right: var(--s-700);
  }

  .privateProfile__header {
    margin: 0;
  }

  .privateProfile__name {
    column-gap: var(--s-500);
    padding: var(--s-500);
    font-size: var(--fs-700);
  }

  .privateProfile__relationshipStatusIcon {
    font-size: var(--fs-500);
  }

  .privateProfile__avatar {
    height: 180px;
    width: 180px;
  }

  .privateProfile__backgroundImage {
    height: 180px;
  }

  .privateProfile__main {
    grid-column: 3 / 7;
    padding: var(--s-600);
  }

  .privateProfile__lockIcon {
    font-size: 48px;
  }

  .privateProfile__message {
    font-size: var(--fs-600);
  }
}

/* Reposition profile avatar on mobile in landscape so that elements don't overlap */
@media screen and (max-height: 620px) {
  .privateProfile__avatar {
    left: 0;
    border: 0;
    border-right: var(--s-300) solid var(--c-white);
    border-radius: 0;
    transform: none;
  }
}
