.friendsListModal {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 75%;
  width: 80%;
  z-index: 500;
  overflow: auto;
  transform: translate(-50%, -50%) scale(0);
  border-radius: var(--br-300);
  transition: transform .3s ease-in-out;
  background-color: var(--c-primary-900);
  background-image: url('../../../../public/images/french-stucco.png');
  color: var(--c-white);
}

.friendsListModal--open {
  transform: translate(-50%, -50%) scale(1);
}

.friendsListModal__header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--s-500);
  border-bottom: var(--s-100) solid var(--c-white);
  background-color: var(--c-accent-700);
}

.friendsListModal__title {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

.friendsListModal__exit {
  font-size: var(--fs-700);
  color: var(--c-white);
  cursor: pointer;
}

.friendsListModal__exit:active {
  color: var(--c-primary-900);
}

@media (hover: hover) {
  .friendsListModal__exit:hover {
    color: var(--c-primary-900);
  }
}

.friendsListModal__friends {
  display: flex;
  flex-direction: column;
  row-gap: var(--s-500);
  padding: var(--s-500);
}

.friend {
  display: flex;
  column-gap: var(--s-500);
  padding-bottom: var(--s-500);
  border-bottom: var(--s-100) solid var(--c-neutral-500);
}

.friend:last-child {
  padding-bottom: 0;
  border: none;
}

.friend__avatar {
  display: block;
  height: var(--s-700);
  width: var(--s-700);
  border: var(--s-100) solid var(--c-white);
  border-radius: var(--br-300);
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  background-color: var(--c-primary-100);
  object-fit: cover;
}

.friend__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: var(--s-300);
}

.friendsListModal--own .friend__info {
  justify-content: flex-end;
  row-gap: var(--s-400);
}

.friend__name {
  line-height: 1rem;
  font-weight: var(--fw-bold);
  color: var(--c-white);
}

.friend__buttons {
  display: flex;
  column-gap: var(--s-400);
}

.friend__button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: var(--s-300);
  min-height: 32px;
  padding: var(--s-300) var(--s-400);
  border-radius: var(--br-300);
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  text-shadow: 2px 2px 4px rgba(0,0,0,.2);
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  letter-spacing: var(--s-100);
  color: var(--c-white);
  outline: none;
  cursor: pointer;
}

.friend__message {
  border: var(--s-100) solid var(--c-primary-700);
  background: linear-gradient(var(--c-primary-300), var(--c-primary-700));
}

.friend__message:active {
  background: var(--c-primary-700);
}

@media (hover: hover) {
  .friend__message:hover {
    background: var(--c-primary-700);
  }
}

.friend__unfriend {
  border: var(--s-100) solid var(--c-accent-700);
  background: linear-gradient(var(--c-accent-300), var(--c-accent-700));
}

.friend__unfriend:active {
  background: var(--c-accent-700);
}

@media (hover: hover) {
  .friend__unfriend:hover {
    background: var(--c-accent-700);
  }
}

.friend__mutualFriendsCount {
  font-size: var(--fs-300);
  line-height: 1rem;
}
