.globalFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  z-index: 300;
  /* border-top: var(--s-100) solid var(--c-black); */
  font-size: var(--fs-200);
  background-image: url('../../../public/images/micro-carbon.png'), linear-gradient(to right, var(--c-neutral-700), var(--c-black));
  color: var(--c-white);
}

@media screen and (min-width: 810px) {
  .globalFooter {
    height: 40px;
    font-size: var(--fs-300);
  }
}
