.timeline {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--s-500);;
  height: 100%;
  padding: var(--s-500) var(--s-600);
  background-color: var(--c-primary-900);
  background-image: url('../../../public/images/french-stucco.png');
}

.posts {
  grid-column: 1 / 5;
  display: flex;
  flex-direction: column;
  row-gap: var(--s-400);
  /* max-width: 26rem; */
}

.posts__noMoreMessage {
  margin-top: var(--s-400);
  text-align: center;
  font-weight: var(--fw-semi-bold);
  color: var(--c-white);
}

.posts__error,
.posts__noPosts {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--s-300);
  margin-top: var(--s-400);
}

.posts__errorIcon,
.posts__noPostsIcon {
  font-size: var(--fs-500);
  color: var(--c-white);
}

.posts__errorMessage,
.posts__noPostsMessage {
  font-weight: var(--fw-semi-bold);
  color: var(--c-white);
}

.timeline__sidebar {
  grid-column: 6 / span 3;
  width: 100%;
}

.timeline__sidebarWrapper {
  position: sticky;
  top: calc(72px + var(--s-600));
  display: flex;
  flex-direction: column;
  row-gap: var(--s-400);
}

.timeline__onlineFriends {
  height: var(--s-800);
  background-color: var(--c-neutral-300);
}

@media screen and (min-width: 810px) {
  .timeline {
    grid-template-columns: repeat(8, 1fr);
    padding: var(--s-600) var(--s-700);
  }

  .posts {
    grid-column: 1 / 6;
  }
}

/* .timelineError {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--s-400);
}

.timelineError__image {
  height: var(--s-800);
} */
