.googleSignIn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: var(--s-500);
  min-height: 40px;
  padding: var(--s-400) var(--s-500);
  border: var(--s-100) solid var(--c-accent-700);
  border-radius: var(--br-300);
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  text-shadow: 2px 2px 4px rgba(0,0,0,.2);
  /* text-decoration: none; */
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  letter-spacing: var(--s-100);
  background: linear-gradient(var(--c-accent-300), var(--c-accent-700));
  color: var(--c-white);
  cursor: pointer;
  outline: none;
}

.googleSignIn:active {
  background: var(--c-accent-700);
}

@media (hover: hover) {
  .googleSignIn:hover {
    background: var(--c-accent-700);
  }
}

.googleSignIn__icon {
  font-size: var(--fs-500);
}

@media screen and (min-width: 810px) {
  .googleSignIn {
    column-gap: var(--s-400);
    min-height: 45px;
    font-size: var(--fs-400);
  }
}
