.notificationSkeleton {
  display: flex;
  align-items: center;
  padding: 0 var(--s-400);
}

.notificationSkeleton__avatar {
  margin-right: var(--s-400);
}

.notificationSkeleton__info {
  flex: 1;
}

.notificationSkeleton__options {
  display: flex;
  margin-left: var(--s-400);
}

.notificationSkeleton__decline {
  margin-right: var(--s-300);
}
