.profileHeader {
  position: relative;
  margin-top: calc(-1 * var(--s-500)); /* Calculate negative version of variable */
  margin-left: calc(-1 * var(--s-600));
  margin-right: calc(-1 * var(--s-600));
  margin-bottom: 70px;
  /* box-shadow: 2px 2px 4px rgba(0,0,0,.2); */
  border-bottom: var(--s-300) solid var(--c-white);
}

.profileHeader__name {
  position: absolute;
  top: var(--s-500);
  display: flex;
  align-items: center;
  column-gap: var(--s-300);
  padding: var(--s-400);
  border-top-right-radius: var(--br-300);
  border-bottom-right-radius: var(--br-300);
  background-color: rgba(0,0,0,.7);
  font-size: var(--fs-500);
  font-weight: var(--fw-semi-bold);
  letter-spacing: var(--s-100);
  color: var(--c-white);
}

.profileHeader__relationshipStatusIcon {
  font-size: var(--fs-300);
  color: var(--c-accent-500);
}

.profileHeader__avatar {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: var(--s-800);
  width: var(--s-800);
  border: var(--s-300) solid var(--c-white);
  border-radius: 50%;
  transform: translate(-50%, 50%);
  background-color: var(--c-primary-100);
  object-fit: cover;
}

.profileHeader__addFriend {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  align-items: center;
  column-gap: var(--s-300);
  margin-top: var(--s-400);
  margin-right: var(--s-600);
  min-height: 32px;
  padding: var(--s-300) var(--s-400);
  border: var(--s-100) solid var(--c-accent-700);
  border-radius: var(--br-300);
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  text-shadow: 2px 2px 4px rgba(0,0,0,.2);
  background: linear-gradient(var(--c-accent-300), var(--c-accent-700));
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  letter-spacing: var(--s-100);
  color: var(--c-white);
  outline: none;
  cursor: pointer;
}

.profileHeader__addFriend:active {
  background: var(--c-accent-700);
}

@media (hover: hover) {
  .profileHeader__addFriend:hover {
    background: var(--c-accent-700);
  }
}

.profileHeader__backgroundImage {
  display: block;
  height: var(--s-800);
  width: 100%;
  object-fit: cover;
  background-color: var(--c-primary-100);
}

@media screen and (min-width: 464px) {
  .profileHeader {
    border: var(--s-300) solid var(--c-white);
    border-top: none;
    border-bottom-left-radius: var(--br-300);
    border-bottom-right-radius: var(--br-300);
  }
}

@media screen and (min-width: 810px) {
  .profileHeader {
    margin-left: 0;
    margin-right: 0;    
  }

  .profileHeader__name {
    column-gap: var(--s-400);
    padding: var(--s-500);
    font-size: var(--fs-600);
  }

  .profileHeader__relationshipStatusIcon {
    font-size: var(--fs-500);
  }

  .profileHeader__avatar {
    height: 140px;
    width: 140px;
  }

  .profileHeader__backgroundImage {
    height: 160px;
  }
}
